<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN" monitorInterval="30">
    <Properties>
        <Property name="LOG_PATTERN">%d{yyyy-MM-dd'T'HH:mm:ss.SSSZ} %p - %message{nolookups}%xThrowable{separator(|)}%n</Property>
        <Property name="APP_LOG_ROOT">c:/temp</Property>
    </Properties>
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT" follow="true">
            <PatternLayout pattern="${LOG_PATTERN}" />
        </Console>
        <File name="file" fileName="log-app.log">
            <PatternLayout pattern="${LOG_PATTERN}" />
        </File>

        <!--<RollingFile name="appLog"
                     fileName="${APP_LOG_ROOT}/SpringBoot2App/application.log"
                     filePattern="${APP_LOG_ROOT}/SpringBoot2App/application-%d{yyyy-MM-dd}-%i.log">
            <PatternLayout pattern="${LOG_PATTERN}" />
            <Policies>
                <SizeBasedTriggeringPolicy size="19500KB" />
            </Policies>
            <DefaultRolloverStrategy max="1" />
        </RollingFile>-->

    </Appenders>
    <Loggers>


        <Logger name="com.behsa.usdp.serviceeventdelivery" level="error" additivity="false">
            <AppenderRef ref="Console" />
            <AppenderRef ref="file" />
        </Logger>
        <Root level="info">
            <AppenderRef ref="Console" />
        </Root>

    </Loggers>
</Configuration>